.blog-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto;
  max-width: 360px;
}
@media screen and (min-width: 576px) {
  .blog-container {
    flex-direction: row;
    max-width: 720px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 576px) {
  .blog-cards {
    width: calc((100% - 15px - 4px) / 2);
  }
}

@media screen and (min-width: 1025px) {
  .blog-container {
    max-width: 1200px;
  }
}
@media screen and (min-width: 1025px) {
  .blog-cards {
    width: calc((100% - 40px) / 3);
  }
}
.blog-cards:hover{
  cursor: pointer;
  box-shadow: 2px 2px 2px rgb(68, 76, 78);
  
}
.blog-cards {
  margin-top: 0;
  border: 1px solid grey;
  border-radius: 4px;
  margin: 0 auto;
}

.blog-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.blog-content {
  padding: 8px;
}
h3 {
  margin-top: 0px;
  margin-bottom: 4px;
}

.blog-info {
  font-size: 1.25rem;
}
.blog-date {
  margin-top: 4px;
  font-size: 1.25rem;
}
